body {
	margin-top: 2px;
}

img {
	cursor: pointer;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.card {
	margin-bottom: 40px;
	position: relative;
}

.card img {
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}

.navbar-brand {
	font-size: 28px;
	font-weight: 900;
}
.navbar-brand:hover {
	color: brown;
}
.login {
	display: inline-block;
	margin-top: 5px;
	font-weight: 600;
}

.bg-light.orange {
	background: #ffc107 !important;
}

/* cart */
.cart {
	margin: 0 35px;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}
.cartTable {
	width: 120px;
}

table {
	width: 100%;
}
.cell {
	text-align: center;
}
.cart div {
	margin: 0 10px;
}
.cart p {
	margin-top: 5px;
}
.cart li {
	flex-grow: 1;
	list-style-type: none;
}
.cart table th,
.cart table tr {
	height: 80px;
}
.order-summary .list-group-item {
	background: #eee;
}


.qty {
	width: 40px;
	padding: 5px 0;
}
.white,
.white:hover {
	color: white;
	text-decoration: none;
}
/* sidebar */
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}
/* shopping cart */
.shopping-cart table {
	width: 100%;
	margin-top: 50px;
}
.shopping-cart {
	height: 100vh;
	width: 20%;
	position: fixed;
	right: -20%;
	top: 60px;
	background: #eee;
	transition: all 350ms ease-in-out;
}
.shopping-cart ul {
	display: flex;
	padding: 0 10px 0 25px;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
}
.shopping-cart table {
	text-align: center;
	padding: 0 20px;
}
.shopping-cart li {
	width: 100%;
}
.remove {
	border-radius: 50%;
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-evenly;
	list-style-type: none;
}
.flex li {
	flex-grow: 1;
	padding: 0;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.checkout {
	margin-top: 5px;
	color: white !important;
}
.disabled {
	opacity: 0.65;
}
.coupon {
	color: green;
}
.menu-right {
	position: relative;
}

.badge {
	font-size: 14px;
}

/* utils */
.active {
	font-weight: 700;
}
.focus {
	cursor: pointer;
}
.grey {
	color: #333;
	position: relative;
}
.lightGray {
	color: rgb(152, 151, 151);
}
.crimson {
	color: crimson !important;
}
.bg-crimson {
	background-color: crimson !important;
}
.red {
	border: 1px solid crimson;
}
@media screen and (max-width: 640px) {
	body {
		margin-top: 360px;
	}
	.cart p {
		margin-top: 15px;
	}
	.shopping-cart {
		height: 300px;
		width: 100%;
		position: fixed;
		right: 0;
		top: 60px;
	}
}

.btn.btn-outline-success {
	background: hsl(345, 55%, 96%);
	color:#000000;
	border-color: #ced4da;
}

.row{
	margin-bottom: 10px;
}


.list-group-item {
	border-color: #000000;
}

.bBox:hover {
	background: hsl(345, 55%, 96%);
}

.list-group-item-action {
	color: #6A1D23;
	font-weight: 500;
}


.modal-body h4  {
	color: #6A1D23;
}


.btn-outline-secondary {
	color: #000000;
	border-color: #000000;
}

.backBox{
	background: hsl(345, 55%, 96%);

}


.backBox2{
	background: hsl(345, 55%, 96%);

}
.colorBox{
	color: #6A1D23;
	font-weight: 500;
}

.colorBox2{
	color: #6A1D23;
	font-weight: 700;
}

.colorTxt {
	color: #000000;
	font-weight: 700;

}

.colorDetail {
	color: #AA927F;
	font-weight: 700;

}
